services:
  mysql:
    image: mysql
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      - MYSQL_USER=root
      - MYSQL_PASSWORD=
      - MYSQL_DATABASE=ExpenseModel
      - MYSQL_ROOT_PASSWORD=12345
    volumes:
      - "./conf.d:/etc/mariadb/conf.d:ro"